# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/

# db files
db/

# Compiled output
build

# Runtime data
database.sqlite

# Test coverage
coverage
.nyc_output

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors and IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store

.env/
!.gitkeep

resources/uploads/
!.gitkeep

resources/themes/tmp
!.gitkeep

resources/settings/*.json

modules/epremium/client/files/uploads/
!.gitkeep

#merge
*.orig

#documentation
docs/api/*
nginx-logs/*
public/*
certificates/*

